section{
    height: 100vh;
}

section:nth-child(odd){
    background: slategray;
}

/* change to have dark overlay on image to have text stand out more */
section#ceremony{
    background: url(../images/section-background.jpg) no-repeat fixed center; 
    overflow: hidden;
}

section#ceremony .script-text{
    font-family: 'Amatic SC', cursive;
    font-size: 8em;
    line-height: .9;
    width: 150%;
}

.script-text{
    transform: rotate(2deg);
    transform-origin: center center;
}