@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nanum Gothic', sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden; /* removes extra margin on the right of the page from the sections */
}

/* set to relative becuase we will be able to position items absolutly inside */
.slider{
    position: relative; 
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/* slide to overlay entire container with 0 opacity*/
.slide{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

/* only slide visable */
.slide.current{
    opacity: 1;
}

.slide .content{
    position: absolute;
    bottom: 70px;
    left: -600px;
    width: 600px;
    background: rgba(255,255,255,.6);
    color: #333;
    opacity: 0;
    padding: 2em;
    border-radius: 0 5px 5px 0;
}

.slide .content h1{
    margin-bottom: .5em;
}

/* makes the slide content visable */
.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: all .7s ease-in-out .3s;
}

.buttons button#next{
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 99;
}

.buttons button#prev{
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 99;
}

.buttons button{
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 5px;
    outline: none;
}

.buttons button:hover{
    background-color: #fff;
    color: #333;
}

section#about{
    background-image: linear-gradient(to left, #191919, #434343);
}

/* change to have dark overlay on image to have text stand out more */
section#ceremony{
    background: url(../images/section-background.jpg) no-repeat fixed center; 
    overflow: hidden;
    height: 100vh;
}

section#ceremony .script-text{
    font-family: 'Amatic SC', cursive;
    font-size: 8em;
    line-height: .9;
    width: 150%;
}

.script-text{
    transform: translate(-10px); /* TODO make work with these other 2 properties */
    transform: rotate(2deg); 
    transform-origin: center center;
}

.about-couple h2{
    text-align: center;
    padding: 1em;
    font-size: 2em;
}

.about-couple p{
    padding: .5em;
}

.bride-about,
.groom-about{
    flex: 1;
    padding: 2em 1em;   
}

.about-couple img{
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* flipping bride pic for dramatic effect so they are looking at eachother */
.bride-about img{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.about-couple i{
    display: block;
    margin: auto;
    padding: 2em;
    text-align: center;
    color: red;
    font-size: 2em;
}

@media(min-width: 600px){
    .about-couple{
        display: flex;
        justify-content: space-around;
    }
}


/* 600px or less do this stuff*/

@media(max-width :600px){
    .slide .content{
        bottom: -300px;
        left: 0;
        width: 100%;
        border-radius: 5px 5px 0 0;
    }

    .slide.current .content{
        transform: translateY(-300px);
    }
}

.slide:first-child{
    background: url(../images/wedding1.jpg) no-repeat center center/cover; 
}
.slide:nth-child(2){
    background: url(../images/wedding2.jpg) no-repeat center center/cover; 
}
.slide:nth-child(3){
    background: url(../images/wedding3.jpg) no-repeat center center/cover; 
}
.slide:nth-child(4){
    background: url(../images/wedding4.jpg) no-repeat center center/cover; 
}
.slide:nth-child(5){
    background: url(../images/wedding5.jpg) no-repeat center center/cover; 
}